<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8" />
<title>Eleves</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">
	<header th:replace="fragment/header :: header"></header>
	<div class="container mt-5">
		<div class="card">
			<div class="card-header">Liste des eleves</div>
			<div class="card-body">
				<table class="table  text-center">
					<tr>
						<th>Cne</th>
						<th>Nom</th>
						<th>prenom</th>
					</tr>
					<tr th:each="eleve:${list}">
						<td th:text="${eleve.cne}"></td>
						<td th:text="${eleve.nom}"></td>
						<td th:text="${eleve.prenom}"></td>
						<td>
						
						<!--  <button type="button" class="btn btn-primary"
								data-toggle="button" aria-pressed="false" autocomplete="off"
								onclick=""> </button></td> -->
								<a th:href="@{'/consulterAbsence/'+${eleve.cne}}">Consulter ses absences</a>
								
					</tr>
				</table>
			</div>
		</div>
	</div>
	<br />
	<br />
	
	
	<footer th:replace="fragment/footer :: footer"></footer>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6                 OSsuzixeV4y/faTqgFtohetphbbj0="
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.1/cjs/popper.min.js"
		integrity="sha256-T3bYsIPyOLpEfeZOX4M7J59ZoDMzuYFUsPiSN3Xcc2M="
		crossorigin="anonymous"></script>

	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>

	
</body>
</html>